* {
  box-sizing: border-box;
}
body {
  background-color: #f5f6ff;
}
.container {
  padding: 10px;
  /* background-color: red; */
  max-width: 700px;
  margin: 50px auto;
}
.btn {
  border: none;
  padding: 7px 15px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  background: #2a3641;
  color: white;
}
.addContainer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addContainer form {
  width: 420px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.addContainer form label {
  font-size: 18px;
}
.addContainer form input {
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.addContainer form .close-btn {
  margin-left: auto;
  font-size: 18px;
  width: 20px;
  height: 20px;
  margin-bottom: 18px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
}
.tableContainer {
  margin-top: 50px;
}


.tableContainer table thead tr th,
.tableContainer table tbody tr td {
  min-width: 100px;

  padding: 8px;
 
  text-align: center;
}
